@import "typography";
@import "variables";
@import "region_logo";
@import "region_menu";
@import "region_footer";
@import "region_sidebar";
@import "region_content";

body {
  
  color: $black;
  font-family: $slabo;
  //font-size: 18px;

  .container {

    @include breakpoint($mobile) {
      max-width: 100%;
    }

    max-width: 75em;
    margin: 0 auto;

  &__main {
    
    display: flex;

    @include breakpoint($tablet) {
      flex-direction: column;
    }
  }
}
}